<ul>
    <h1>Error-Bot</h1>
  <li><a href="/">Home</a></li>
  <li><a href="about">About</a></li>
  <li><a href="news">News</a></li>
  <li><a href="https://discord.com/invite/tYwnHCme4W" target="_blank">Support Server</a></li>
  <li><a href="https://discord.com/oauth2/authorize?client_id=836274015227740180&scope=bot&permissions=3224497223" target="_blank">Add bot</a></li>
</ul>